

.about-us,.about-img {
    margin-top: 70px;
}

.img:hover {
    transform: scale(1.03);
    filter: grayscale(0);
}

.img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in;
    filter: grayscale(1);
}


