main {
    padding-top: 80px;
}

.tabs {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.tabs ul {
    list-style-type: none;
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
}

.tabs ul::-webkit-scrollbar {
    display: none; 
}

.tabs ul li a {
    font-size: 1.1rem;
    display: block;
    white-space: nowrap;
    padding: 10px;
    text-align: center;
    color: #000;
    text-decoration: none;
}
.tabs ul li a:hover {
    border-bottom: 2px solid black;
}

.collections {
    margin-bottom: .5rem;
}
.collections .row div {
        padding: .2rem;
    }

.img-fluid {
    margin: auto;
    min-width: 100%;
    height: 100%;
    transition: all 0.3s linear ;
    position: relative;
    opacity: 0;
}

.img-fluid:hover {
    transform: scale(1.03);
}
.img-div {
    max-height:380px;
}
.img-fluid::before {
    font-size: 20px;
    content: attr(alt);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: auto;
    background-color: rgba(243, 238, 238, 0.8);
    padding: 10px;
    color: #000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-fluid:hover {
    z-index: 3;
}

.collections {
    position: relative;
}
.tab.active {
    background-color:#e7d87d ;
}

.img-fluid.show {
    opacity: 1;
}


.back-to-top {
    display:none;
    align-items:center;
    justify-content:center;
    height:45px;
    width:45px;
    background-color:black;
    color:white;
    position: fixed;
    top:80%;
    right:10%;
    z-index:10;
    border:2px solid white;
    border-radius:50%;
    cursor:pointer;
    transition: all .3s linear;
}

.back-to-top.show {
    display: flex;
}

.back-to-top:hover {
    background-color:white;
    color:black;
}

.loader {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    height: max-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s linear;
}
.loader.loading {
    opacity: 1;
    visibility: visible;
}
.spin {
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 15px;
    margin : 0 .3rem;
    border-radius: 50%;
    animation : loading 1.3s linear infinite;
}
.spin:nth-child(1) {
    animation-delay: 0.25s;
}
.spin:nth-child(2) {
    animation-delay: 0.50s;
}
.spin:nth-child(3) {
    animation-delay: 0.75s;
}
.spin:nth-child(5) {
    animation-delay: 1s;
}

@keyframes loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(0);
    }
}



@media  screen and (min-width:768px){
    .tabs ul {
        margin-bottom: 0;
    }
    .tabs ul li a {
        font-size: .9rem;
    }
} 





